
.middle-content
  .middle-side

    %p.middle-side__header
      新着ブログ記事
    %ul.middle__info
      - @blogtexts.each do |blogtext|
        = render partial: 'bloglists', locals: { blogtext: blogtext }
  .middle-main    
    = render partial: 'middle-main', locals: { blogtext: @blogtext }
    
    .middle-main__blog
      %h1 本文
    .blog__text
      %p 
        = @blogtext.text
    
    .middle-main__border
      コメントする

    %ul.middle-main__comment
      コメント一覧
      %li.comment__user-name
        %span ペンギン2号
        .comment__main
      
      %li.comment__user-name
        %span ペンギン3号
        .comment__main

      %li.comment__user-name
        %span ペンギン4号
        .comment__main

.header__content