.middle-content
  - if @blogtexts.length == 0
    .middle-side
      %p.middle-side__header
        記事未投稿
      %ul.middle__info
    .middle-main 
      .middle-main__blog
        %h1 
      .blog__text
        %p 
      .middle-main__border
      %ul.middle-main__comment
  - else
    = render partial: '/blogtexts/middle-side', locals: { blogtexts: @blogtexts, newOrUser: "マイブログ記事"  }    
    .middle-main 
.header__content

