
.form{
  display: flex;
}

.form-title{
  padding: 10px;
  margin: 40px 30px 20px;
  width: 60%;
  height: 30px;
  float: left;
}

.form-btn{
  margin-top: 40px;
  width: 20%;
  float: left;
  background-color: #EAFFD0;
  color: #a39391;
}

.form-text{
  padding: 10px;
  margin: 10px 30px;
  width: calc(100% - 60px);
  height: 600px;
}

