
.form{
  display: flex;
}

.form-title{
  padding: 10px;
  margin: 40px 30px 20px;
  width: 60%;
  height: 30px;
  float: left;
}

.form-btn{
  margin-top: 40px;
  width: 20%;
  float: left;
  background-color: #EAFFD0;
  color: #a39391;
}

.form-text{
  padding: 10px;
  margin: 10px 30px;
  width: calc(100% - 60px);
  height: 600px;
}

.form-comment{
  display: inline-block;
  margin: 0 auto;
}

.form-comment-box{
  width: 500px;
  height: 100px;
  margin: 10px 30px;

}

.form-comment-btn{
  height: 25px;
  width: 20%;
  background-color: #EAFFD0;
  margin: 10px 30px;
  font-size: 13px;
  color: #a39391;
}

